.popular-item {
    text-align: center;
    padding: 20px;
    font-size: 25px;
    font-weight: 600;
    
}

.another-item {
    text-align: center;
    margin-bottom: 30px;
}

.another-btn {
    background: ;
}