.mypageTitle {
    text-align: center;
    margin: 20px;
    font-weight: 600;
}

.orderCheckTitle {
    padding: 10px;
}

.orderCheckItem {
    display: flex;
}

.myShoppingTitle {
    padding: 10px;
}