#ItemDiv {
    width: 100%;
    display: flex;
    padding: 30px;
    cursor: pointer;
    border: 1px solid rgb(182, 176, 176);
    border-radius: 5px;
    background-color: rgb(235, 230, 230);
}

.img {
    /* width: 400px;
    height: 300px; */
    width: 40%;
    height: 200px;
}

.content { 
    padding-left: 30px;
}


@media screen and (min-width : 1280px){
    .img {
        width: 15%;
    }
}

@media screen and (max-width : 768px){
    .img { 
        width: 50%;
    }
}

