#ItemDiv {
    width: 100%;
    display: flex;
    margin-bottom: 40px;
    padding: 30px;
    cursor: pointer;
    border: 1px solid rgb(182, 176, 176);
    border-radius: 5px;
    background-color: rgb(235, 230, 230);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#ItemDiv:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.img {
    /* width: 400px;
    height: 300px; */
    width: 40%;
    height: 200px;
}

.content { 
    padding-left: 30px;
}


@media screen and (min-width : 1280px){
    .img {
        width: 15%;
    }
}

@media screen and (max-width : 768px){
    .img { 
        width: 50%;
    }
}

